@media (min-width:670px){
  .title-sp a {
    display: none;
  }

}

/* タブレット向けレイアウト */

/* ブレイクポイントが1000px以下のときのメディアクエリ */
@media (max-width:1000px) {
  .roles-field .role-block {
    width: 50%;
    margin-bottom: 50px;
  }

  .events .event {
    width: 100%;
  }

  .interviews .interview-block {
    width: 100%;
  }
}

/* スマホ向けレイアウト */

/* ブレイクポイントが670px以下の時のメディアクエリ */
@media (max-width:670px) {

  header {
    height: 3rem;
  }

  .title{
    display: none;
  }

  .wf-nicomoji { font-family: "Nico Moji"; }

  .title-sp a {
    width: 100%;
    display: inline-block;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    float: none;
  }

  .subtitle {
    display: none;
  }

  .sns {
    display: none;
  }

  header nav {
    float: none;
    display: none;
  }
  /* .lessonのwidthを100%に指定してください */
  .roles-field .role-block {
    width: 100%;
  }

  /* <footer>の中身を中央寄せにしてください。 */
  footer {
    text-align: center;
  }

	/* .btnのwidthを100%に指定してください */
  .btn {
    width: 100%;

  }

  /* .facebookにmargin-bottom: 10px;を追加してください */
  .facebook {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  /* .top-wrapperの中身を左寄せに、padding-topを130pxに指定してください */
  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }

	.btn-wrapper {
		text-align: center;
	}
}
