@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}

/*
font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul {
	list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* ヘッダー全体のスタイル */
header {
  height: 48px;
  width: 100%;
  background-color: rgba(33, 175, 255, 0.7);
  position: fixed;
  top: 0;
  z-index: 10;
}

header a {
	color: white;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  transiton: all 0.5s;
}

header a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* ヘッダー左側部分 */
.header-left {
  float: left;
}

.header-left a {
	font-size: 24px;
  /* 行間 = 48px = ヘッダーの高さ → 文字列を中央に配置 */
  line-height: 24px;
  /* padding 上下 0px 左右 25pxずつ */
  padding: 0px 25px 0px 25px;
  position: relative;
}

.header-left span {
  font-size: 12px;
  position: absolute;
}


/* ヘッダー右側部分 */
.header-right {
  float: right;
}

/* .header-right li {
  float: left;
} */

.header-right a {
  font-size: 12px;
  /* 行間 = 48px = ヘッダーの高さ → 文字列を中央に配置 */
  line-height: 48px;
  /* padding 上下 0px 左右 25pxずつ */
  padding: 0px 25px 0px 25px;
  margin-left: 5px;
}

.top-wrapper {
  padding: 150px 0 150px 0;
  background: linear-gradient(125deg,rgba(9, 255, 193, 0.5),rgba(139, 9, 255, 0.5)), url(../img/top.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.8;
}

.orange {
  color: goldenrod;
}

.blue {
  color: royalblue;
}

.btn-wrapper {
  margin: 20px 0;
}

.toDetail {
  background-color: rgb(255, 191, 0);
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fab {
  margin-right: 10px;
}
